#map{
    width:70%;
    height:500px;
    margin: 3em auto;
    max-width: 1000px;
    @include laptop{
        width:70%;
    }
    @include mini-laptop{
        width:80%;
    height:300px;
    }


    h1{
        color:$colorDark4;
        font-size: 1.5em;
        border-bottom: 2px solid $color1;
        cursor: pointer;
    }

    img{
        width:25px;
        height: auto;
    }
}