.offers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    width:95%;
    margin: auto;
    justify-content: center;


    .offers__offer{
        margin:3em 0;
        padding:1em 0;
        text-align: center;
        border:1px solid rgb(122, 122, 122);
        border-radius: 2px;
    
        .offers__heading{
            font-size: 1.5em;
            margin:.5em 0;
            padding:.2em 1em;
            font-family: font("font3");
        }
        .offers__description{
            font-size: .9em;
            padding:0 2em 1em 2em;
            font-family: font("font3");
        }
    }

    .offers__offer:nth-child(1){
        border-top: 5px solid rgb(85, 85, 85);
    }
    .offers__offer:nth-child(2){
        border-top: 5px solid gold;
    }
    .offers__offer:nth-child(3){
        border-top: 5px solid rgb(10, 239, 255);
    }

    .offers__feature{
        font-size: .8em;
        display: block;
        padding:.5em;
    }

    .offers__feature:nth-child(even){
        background-color: rgb(240, 229, 212);
    }

    .offers__price{
        color:rgb(236, 28, 28);
        margin-top:1em ;
        font-family: font("font4");
        font-size: 1em;
    }

    .offers__button{
        margin: 1em 0;
        padding:.5em 2em;
            border:1px solid black;
            background-color: $color1;
            border-radius: 2px;
            color:black;
            font-size: .8em;
            font-family: font("font4");
            transition: .5s;
            &:hover{
                background-color: rgb(223, 15, 15);
                color:white;
            }
    }
   
}