@import '1-helpers/1-helpers';
@import '0-plugins/0-plugins';
@import '2-base/2-base';
@import '3-layout/3-layout';
@import '4-modules/4-modules';
@import '5-templates/5-templates';


//Section
section.main {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  min-width: 460px;

  > div {
    padding: 15px;
    background-color: $color5;
    color: white;
  }

  .sec-div1 {
    display: grid;
    justify-content: center;
    align-items: center;

    h5 {
      margin: 0;
      margin-left: -5px;
      font-size: 15px;
      text-align: left;
      color: color(secondarycolor2);
    }

    p {
      text-align: left;
      text-indent: 20px;
      font-size: 15px;
      margin: 7px;
    }


    & #calculate-btn {
      width: 110px;
      cursor: pointer;
      padding: 5px;
      border: 2px solid color(primarycolor1);
      background-color: color(primarycolor1);
      color: white;
      font-size: 10px;
      border-radius: 2px;


      &:active {
        background-color: color(primarycolor2);
        border: 2px solid greenyellow;
      }
    }
  }

  .sec-div2 {
    display:grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: inherit;
    color:$color5;
    line-height: 2em;
    h3 {
      font-family: font("font5");
      color:  $color4;
    }
  }

  .sec-div3 {
    background-image: url(/build/images/time-for-war-M-new-video-simple-750x400.jpg);
    background-size: cover;
   
    border-radius: 4px;
    transition: 1s;
    height: 300px;

    h4 {
      transition: 1s;
      margin-top: 40px;
      display: inline-block;
      background-color: transparentize(black, 0.3);
      border-radius: 5px;
      padding: 10px;
      font-size: 50px;
    }
  }

  .sec-div4 {
    padding: 3px;
    background-color: rgba(0,0,0,0.3);
    border: none;
    margin: 0;
    height: auto;
   
      h3 {
        padding: 5px;
        color: white;
      }
  

    i {
      color: rgb(145, 255, 0);
      font-size: 20px;
      text-shadow: 2px 2px 2px gray;
    }

    h3 {
      color: rgb(211, 255, 17);
      background-color: $color5;
    font-size: 1em;
      margin: 0;
      padding: 10px;
    }

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: rgb(0, 255, 191);
      }
    }

    & #underweight {
      display: none;
    }

    & #normal {
      display: none;
    }

    & #overweight {
      display: none;
    }

    & #obese {
      display: none;
    }
  }

  input {
    border: 2px solid color(primarycolor1);
    border-radius: 4px;
    background-color: $color1 ;
    margin: 10px;
    padding: 5px 15px;
  }
}





