.carousel{
    width:85%;

    margin:2em auto;
    .carousel-indicators{
        
    }
    .carousel-inner{
        .carousel-item{
            .carousel-caption{
             
              h3{
         
              }
              p{

              }
            }
            img{
                height:100%;
                width:100%;
            }
        }
    }
}
