.carousel{
    width:80%;

    margin:2em auto;
    .carousel-indicators{

    }
    .carousel-inner{
        .carousel-item{
            .carousel-caption{
                
            }
            img{
                height:100%;
                width:100%;
            }
        }
    }
}
