footer {
    background-color:$colorDark3;
    padding:15px;
    color:rgb(231, 231, 231);
    text-align:center;
    margin-bottom:-16px;
    min-width:500px;
    width:100%;
    height:auto;
    border-top: 3px solid $colorDark2;
  }