.navbar {
    background-color: $color5;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $color2;
    z-index: 2;
    .navbar-brand {
        color: rgba(255, 166, 0, 0.9);
        font-family: 'Nanotech LLC';
        font-size: 1.7em;
     
        img {
            width: 45px;
            height: auto;
            border-radius: 5px;
        }
        span {
            font-size: 1em;
            margin-left: -5px;
        }
    }
    .navbar-nav {
        margin-right: 10%;
        .nav-item {
            padding-right: 2em;
            font-family: font("font3");
            text-transform: uppercase;
            font-size: .9em;
            .nav_link {}
        }
    }
}