

.navbar {
    background-color: rgba(252, 252, 252,0);
    z-index: 2;
    color:white;
    .navbar-brand {
        font-family: 'Arvo', serif;
        font-size: 1.7em;
        color:white;
        @include tablet{
            font-size: 1.2em;
        }
    
        .navbar-brand--red{
            color:red;
        }
     
        img {
            width: 45px;
            height: auto;
            border-radius: 5px;
        }
        span {
            font-size: 1em;
            margin-left: -5px;
        }
    }
    .navbar-nav {
        margin-left: auto;
        .nav-item {
            padding-right: 2em;
            font-family: font("font3");
            text-transform: uppercase;
            font-size: .8em;
            .nav-link {
                color:$color1;
                &:hover{
                    color:white;
                }
                .nav-link--active{

                }
            }

            i{
                font-size: 2em;
                position: relative;
                cursor: pointer;
               
                &:hover{
                    color:red;
                }

                span{
                    border: 1px solid white;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    padding:.2em .4em;
                    z-index: 1;
                    position: absolute;
                    bottom: -10px;
                    right:-10px;
                    font-size: .4em;
                  
                }
            }
        }
    }
}


.navbar--black-background{
    background-color: $colorDark4;
}

