.section__heading{
    text-align: center;
    font-style: italic;
    margin:1.5em;
    padding:.7em 0;
    font-size: 2.5em;
    font-family: font("font4");
    border-bottom: 3px solid red;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 1px 2px 1px gray;
    max-width: 900px;
    margin: auto;
    @include laptop{
        font-size: 2em;
    }
    @include mini-laptop{
        font-size: 1.5em;
    }
    @include tablet{
        font-size: 1.2em;
    }
    @include mobile{
        font-size: 1em;
        text-shadow: none;
    }
}

.section__description{
    text-align: center;
    font-size: 1em;
    font-family: font("font3");
    text-transform: uppercase;
}

.two__column{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include laptop{
        grid-template-columns: 1fr;
      }
}

.showcase{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding:1em;
    max-width: 1200px;
    @include mini-laptop{
        grid-template-columns: 1fr;
    }
}

.three__column{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include mini-laptop{
        grid-template-columns: 1fr;
    }
}


.column{
    width:100%;
    margin: auto;
    height: 100%;
    display:grid;
    margin:2em 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 500px;
    @include mini-laptop{
        margin: 1em 0;
    }
    .column__information{
        margin:1em 2em;
        @include mini-laptop{
            margin:0em 2em;
            text-align: center;
        }
        .column__paragraph{
            line-height: 2em;
            font-size: .8em;
            @include laptop{
                font-size: .7em;
            }
            @include mobile{
                font-size: .6em;
            }
        }
        .column__heading{
            font-family: font("font5");
            font-size: 2em;
            @include laptop{
                font-size: 1.2em;
            }
            @include mobile{
                font-size: 1em;
            }
           
        }

        .column__heading--gold{
            color:$color1;
            text-shadow: 1px 1px black;
            @include mobile{
                text-shadow: none;
            }
        }
        .column__heading-2{
            font-size:1.2em;
            font-family: font("font5");
        }
        .column__button{
            padding:.5em 2em;
            border:1px solid black;
            background-color: $color1;
            border-radius: 2px;
            color:black;
            font-family: font("font4");
            transition: .5s;
            &:hover{
                background-color: red;
            }
        }
        .column__quotation{
            @include mini-laptop{
                font-size: .7em;
            }
        }
    }
   
    img{
        width:80%;
        margin: auto;
        border-radius: 2px;
        @include mini-laptop{
            width:50%;
            margin: auto;
        }
    }
}




.fullheight-section{
    text-align: center;
    height:100vh;
    width:100%;
    padding:3em;
    margin: auto;
    display: grid;
    color:white;
    justify-content: center;
    align-content: center;
    background-color: $colorDark3;
    max-height: 1200px;

 
    @include mini-laptop{
        height: 100%;
    }
    .fullheight-section__heading{
        color:$color1;
        font-size: 2em;
        padding: 2em 1em;
        border-bottom: 1px solid red;
        @include mini-laptop{
            font-size: 1em;
        }
    }
}



.image__caption--container-left{
    border-bottom: 1px solid black;
    padding:2em;
    width:100%;
    height: 100%;
    display:grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    margin:0em auto;
    max-width: 1200px;
    @include mini-laptop{
        grid-template-columns: 1fr;
        padding:1em 1em;
        text-align: center;
    }
    @include tablet{
        grid-template-columns: 1fr;
       
    }

    .column__quotation{
        @include mini-laptop{
            font-size: .7em;
        }
    }

    .image__caption--image{
        width:80%;
        margin: auto;
        @include mini-laptop{
            grid-column: 1;
            grid-row: 1;
            
        }
        img{
           width: 100%;
            border-radius: 2px;
            @include mini-laptop{
                width:50%;
                margin: auto;
            }
        }
      
    }
    .image__caption--description{
        margin:1em 2em;
        @include mini-laptop{
         
            text-align: center;
        }
        .image__caption--heading{
            font-family: font("font5");
            font-size: 2em;
            color:$color1;
            text-shadow: 1px 1px black;
            @include laptop{
                font-size: 1.2em;
            }
            @include tablet{
                font-size:1em;
                }
            @include mobile{
                text-shadow: none;
                font-size: 1em;
            }
           
        }
        .image__caption--information{
            line-height: 2em;
            font-size: .8em;
            @include laptop{
                font-size: .7em;
            }
            @include mobile{
                font-size: .6em;
            }
        }
    }
}




.partnership{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    width:30%;
    height:50vh;
    margin: auto;
    text-align: center;
    @include tablet{
        width:50%;
    }
    .partnership__description{
    
        font-size: .9em;
        @include tablet{
            font-size: .7em;
        }
    }
    .partnership__image{
        width: 100%;
    }
}

