.section__heading{
    text-align: center;
    font-style: italic;
    margin:1.5em;
    padding:.7em 0;
    font-size: 2.5em;
    font-family: font("font4");
    border-bottom: 3px solid red;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 1px 2px 1px gray;
}

.section__description{
    text-align: center;
    font-size: 1em;
    font-family: font("font3");
    text-transform: uppercase;
}

.two__column{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.showcase{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    

    padding:1em;
}

.three__column{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.column{
    width:100%;
    margin: auto;
    height: 100%;
    display:grid;
    margin:2em 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    .column__information{
        margin:1em 2em;
        .column__paragraph{
            line-height: 2em;
            font-size: .8em;
        }
        .column__heading{
            font-family: font("font5");
            font-size: 2em;
        }

        .column__heading--gold{
            color:$color1;
            text-shadow: 1px 1px black;
        }
        .column__heading-2{
            font-size:1.2em;
            font-family: font("font5");
        }
        .column__button{
            padding:.5em 2em;
            border:1px solid black;
            background-color: $color1;
            border-radius: 2px;
            color:black;
            font-family: font("font4");
            transition: .5s;
            &:hover{
                background-color: red;
            }
        }
        .column__quotation{
   
        }
    }
   
    img{
        width:100%;
        border-radius: 2px;
    }
}




.fullheight-section{
    text-align: center;
    height:100vh;
    width:100%;
    padding:3em;
    margin: auto;
    display: grid;
    color:white;
    justify-content: center;
    align-content: center;
    background-color: $colorDark3;
    .fullheight-section__heading{
        color:$color1;
        font-size: 2em;
        padding: 2em 1em;
        border-bottom: 1px solid red;
    }
}