.sections__heading{
    width: 100%;
    font-size:2em;

    font-family: font("font1");
    padding:1em;
    text-align: left;
}

.two__column{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin:0em auto;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.column{
    width:100%;
    margin: auto;
    height: 100%;
    .column__information{
        margin:1em 2em;
        .column__paragraph{
            line-height: 2em;
        }
        .column__heading{
            font-family: font("font5");
        }
    }
   
    img{
        width:100%;
        border-radius: 2px;
    }
}