//COLLOR PALLETE
$color1: #FAEDD4;
$color2: #E0D5BF ;
$color3: #BAB09E;
$color4: #7A7468;
$color5: #3B3832;




//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-mini-laptop:750px;
$breakpoint-tablet:560px;
$breakpoint-mobile:400px;