//COLLOR PALLETE
$color1: #FFD500;
$color2: #E6BF00 ;
$color3: #BF9F00;
$color4: #806A00;
$color5: #403500;

$colorDark1:#8C8C8C;
$colorDark2:#4D4D4D;
$colorDark3:#333333;
$colorDark4:#000000;


//RESULT COLORS
$bad: rgb(255, 0, 0);
$good: rgb(0, 255, 13);
$alert: rgb(251, 255, 0);




//BREAKPOINTS
$breakpoint-desktop:1200px;
$breakpoint-laptop:950px;
$breakpoint-mini-laptop:750px;
$breakpoint-tablet:560px;
$breakpoint-mobile:400px;